<!DOCTYPE html>
<html>
<head>
    <title>Multi Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Multi-Disease Prediction System</h1>
<p>Select a disease to predict</p>

<div class="grid">
    <a href="/form/diabetes" class="card">Diabetes</a>
    <a href="/form/cancer" class="card">Cancer</a>
    <a href="/form/heart" class="card">Heart</a>
    <a href="/form/kidney" class="card">Kidney</a>
    <a href="/form/liver" class="card">Liver</a>
    <a href="/form/stroke" class="card">Stroke</a>
</div>

</body>
</html>
